<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/plan-style.css">
    <title>Plans for Upgradation</title>
</head>
<body>
    <div class="backButton" id="backB">
        <a href="/">
            <button class="backClick" id="bC">
                <img src="../static/images/icons8-back-50.png" alt="" class="backIcon">
                Back
            </button>
        </a>
    </div>
    <div class="Main">
        <div class="Free" id="freePlan">
            <h4>Free</h4>
            <h3>$0</h3>
            <button>Subscribe</button>
            <h5>This includes</h5>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                20 questions
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                3 books
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                30+ languages
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                ChatGPT 3.5
            </div>
        </div>
        <div class="Plus" id="plusPlan">
            <h4>Plus</h4>
            <h3>$16.99</h3>
            <button>Subscribe</button>
            <h5>This includes</h5>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                200 questions/month
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                5 books
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                30+ languages
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                ChatGPT 3.5
            </div>
        </div>
        <div class="Premium" id="premiumPlan">
            <h6>Most popular</h6>
            <h4>Premium</h4>
            <h3>$19.99</h3>
            <button>Subscribe</button>
            <h5>This includes</h5>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                Unlimited questions
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                Unlimited books
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                30+ languages
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                ChatGPT 3.5
            </div>
        </div>
        <div class="Genius" id="geniusPlan">
            <h4>Genious</h4>
            <h3>$99.99</h3>
            <button>Subscribe</button>
            <h5>This includes</h5>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                Unlimited questions
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                Unlimited books
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                30+ languages
            </div>
            <div>
                <img src="../static/images/icons8-correct-24.png" alt="">
                ChatGPT 3.5 and GPT 4
            </div>
        </div>
    </div>
</body>
</html>